.rc {
    width: 90% !important;
    height: 375px !important;
}

.rc_root {
    display: flex;
    justify-content: center;
    width: 100%;
    border:none;
}


.rc_body-days-of-month .rc_body-cell.rc_selected .rc_body-cell_value {
    background-color: #ffcf12;
    width: 80% !important;
    height: 80% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.quill {
    display: flex;
    flex-direction: column-reverse;
    flex: 1
}

.ql-container.ql-snow {
    border: 0px !important;
    flex: 1 1 0;
    overflow: scroll;
}

.ql-toolbar.ql-snow .ql-formats {
    margin-right: 0px !important;
}

.ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    background-color: #ffcf12 !important;
    border: 3px solid #ffcf12 !important;
    border-radius: 10px;
}

.ql-formats button:focus {
    color: red !important;
  }